.pano-container {
  position: relative;
}

.pano-btn {
  position: absolute;
  height: 40px;
  z-index: 10;
  top: 50%;
  border: 0;
  background: transparent;
  cursor: pointer;
  height: 80px;
}

.arrow {
  border: solid black;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 20px;
  border-radius: 2px;
  height: 20px;
  width: 20px;
}

#pano-prev-btn {
  left: 20px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

#pano-next-btn {
  right: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
